
<div class="color-bar">
    <h3>CHANGE COLOR:</h3>
    <button type="button" class="color-btn" data-action="start">START</button>
    <button type="button" class="color-btn" data-action="stop">STOP</button>
</div>
