<ul class="tasks">
    <li class="tasks_item">
        <a href="/">Home</a>
    </li>
    <li class="tasks_item">
        <a href="/task1">Task 1</a>
    </li>
    <li class="tasks_item">
        <a href="/task2">Task 2</a>
    </li>
    <li class="tasks_item">
        <a href="/task3">Task 3</a>
    </li>
    <li class="tasks_item">
        <a href="/variant">Variant 1+2</a>
    </li>
</ul>