
<section class="final-countdown">

    <h1>Окончание курса JavaScript 24.09.2021<br>ОСТАЛОСЬ:</h1>

    <div>
        <div class="timer" id="timer-1">
            <div class="field">
                <p class="value" data-value="days">00</p>
                <p class="label">DAYS</p>
            </div>

            <div class="field">
                <p class="value" data-value="colon">:</p>
                <p class="label"></p>
            </div>

            <div class="field">
                <p class="value" data-value="hours">00</p>
                <p class="label">HOURS</p>
            </div>

            <div class="field">
                <p class="value" data-value="colon">:</p>
                <p class="label"></p>
            </div>

            <div class="field">
                <p class="value" data-value="mins">00</p>
                <p class="label">MINUTES</p>
            </div>

            <div class="field">
                <p class="value" data-value="colon">:</p>
                <p class="label"></p>
            </div>

            <div class="field">
                <p class="value" data-value="secs">00</p>
                <p class="label">SECONDS</p>
            </div>
        </div>

        <div class="count-btns">
            <button type="button" class="color-btn" data-action="start-count">START COUNT</button>
            <button type="button" class="color-btn" data-action="reset-count">RESET COUNT</button>
        </div>

    </div>

</section>
