<h1>Task 3</h1>
<div id="task31" class="task-item">
    <h2>Задание 1</h2>
</div>
<div id="task32" class="task-item">
    <h2>Задание 2</h2>
</div>
<div id="task33" class="task-item">
    <h2>Задание 3</h2>
</div>
<script src="javascripts/task3.js"></script>